@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:wght@200&family=Secular+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Secular One', sans-serif; 
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  background-color: rgb(173, 191, 200);
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --off-gray: rgb(78, 78, 78);
  --off-white: #e5e5e5;
  --blue-1: #62b8f5;
  --blue-2: #4475ef;
  --purple-1: #390072;
  --purple-2: #e4d2f8;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, var(--purple-2), var(--purple-1));
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35em;
  min-width: 25vw;
  min-height: auto;
  border-radius: 3em;
  position: absolute;
  font-size: 16px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: initial;
  border-radius: 3em;
  padding: 2em;
  background: rgba(0, 0, 0, 0.804);
  backdrop-filter: blur(5px);
  color: rgb(232, 230, 227);
  box-shadow: rgb(0 0 0 / 68%) 1em 1em 1em 0px;
  
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city {
  font-weight: bold;
  font-size: 3.4em;
  min-width: 100%;
  font-family: 'Poppins', sans-serif;  
}

input {
  min-width: 15vw;
  border: none;
  border-radius: 2em;
  font-size: calc(1vh + 1vw);
  padding-inline: 1em;
  outline: none;
  background-color: rgb(81, 87, 91);
  color: rgb(232, 230, 227);
}

.search-container {
  font-size: 1em;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.search-container button {
  border-radius: 100px; 
  padding: 5px;
  cursor: pointer;
  background-color: rgb(81, 87, 91);
}

#location #locate{
  width: 30px;
  height: 30px;
  color: var(--off-gray);
}

.search-button img {
  /* background-color: var(--off-gray); */
  width: 10px;
  height: 10px;
}

#result h2 {
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-weight: 600;
  margin: 1.25em 0;
}

.weather,
.desc {
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 2em;
}

#result {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result h1 {
  font-size: 4em;
  margin: 0.3em 0 0.7em 0;
  line-height: 0;
  font-weight: 400;
  color: var(--white);
}

.current-temp {
  color: --off-white;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.country{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--off-white)
}

svg {
  width: 30px;
  height: 30px;
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  color: var(--off-white);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 2em;
  text-align: left;
  padding-left: 0;
  /* margin-left: -270px; */
  margin-left: -18em;
}

.temp-container div {
  padding: 0.3em 1em;
}
.temp-container div:first-child {
  border-right: 1px solid var(--transp-white-1);
}

desc {
  color: var(--off-white);
  text-transform: uppercase;
}


.blank-input {
  color: var(--off-white);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.current_date {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}


.weather-container {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 7em;
  align-items: flex-start;
}

.dateTime {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  /* font-weight: 600; */
  margin: 1.25em 0;
  
}

.weather-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}


.temp-heading {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}

h4 {
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}


@media only screen and (max-width: 475px){
  .city{
      font-size: xx-large;
  }
  .current-temp{
      font-size: xx-large;
  }
  #current_date{
      font-size: 1em;
  }
}